<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CiaDosDoces</title>
</head>

<body>
    <header>
        <div class="px-3 py-2 text-bg-dark border-bottom">
          <div class="container">
            <!-- Abobrinha -->
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
              <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
              </a>
    
              <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                <li>
                  <a href="#" class="nav-link text-secondary">
                    <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"></use></svg>
                    Início
                </li>
                <li>
                  <a href="Pedidos.html" class="nav-link text-white">
                    <svg class="bi d-block mx-auto mb-1" width="6" height="6"><use xlink:href="#table"></use></svg>
                    Pedidos
                  </a>
                </li>
                <li>
                  <a href="Produtos.html" class="nav-link text-white">
                    <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"></use></svg>
                    Produtos
                  </a>
                </li>
                <li>
                  <a href="Sobre.html" class="nav-link text-white">
                    <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"></use></svg>
                    Sobre
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="px-3 py-2 border-bottom mb-3">
          <div class="container d-flex flex-wrap justify-content-center">
            <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="Pesquisar">
              <input type="Pesquisar" class="form-control" placeholder="Pesquisar..." aria-label="Search">
            </form>
            <div class="text-end">
               <a href="Login.html"><button type="button"  class="btn btn-light text-dark me-2">Login</button></a>
              <a href="Inscrever-se.html"><button type="button" class="btn btn-primary">Inscrever-se</button></a>
            </div>
          </div>
        </div>

          <div class="card-group">
            <div class="card">
              <img src="../img/Chocolate/chocolate_branco_gotas_2_1kg_melken_harald_5789041_1_20200227142055.webp" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Chocolates Puros</h5>
                <p class="card-text">Click</p>
                <p class="card-text"><small class="text-body-secondary">.</small></p>
              </div>
            </div>
            <div class="card">
              <img src="../img/Chocolate/Cobertura.webp" style="width: 100%;" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Coberturas</h5>
                <p class="card-text">Click</p>
                <p class="card-text"><small class="text-body-secondary">.</small></p>
              </div>
            </div>
            <div class="card">
              <img src="../img/Chocolate/TRANTRAN.webp" style="width: 100%;" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Guloseimas</h5>
                <p class="card-text">Click</p>
                <p class="card-text"><small class="text-body-secondary">.</small></p>
              </div>
            </div>
          </div>
      </header>
      <div class="container">
        <footer class="py-5">
          <div class="row">
            <div class="col-6 col-md-2 mb-3">
              <h5>Seção</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Início</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Fornecedores</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Preços</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Perguntas frequentes</a></li>
                <li class="nav-item mb-2"><a href="Sobre.html" class="nav-link p-0 text-body-secondary">Sobre</a></li>
              </ul>
            </div>
              <ul>
            <div class="col-md-5 offset-md-1 mb-3">
              <form>
                <h5>Inscreva-se para receber nossas promoções</h5>
                <p>Toda semana, com novos descontos.</p>
                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                  <label for="newsletter1" class="visually-hidden">Endereço de Email</label>
                  <input id="newsletter1" type="text" class="form-control" placeholder="Endereço de Email"required>
                  <button class="btn btn-primary" type="button">Confirmar envio</button>
                </div>
              </form>
            </div>
          </div>
      
          <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>© 2024 Companhia CiaDosDoces, todos os direitos reservados.</p>
            <ul class="list-unstyled d-flex">
              <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
              <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
              <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
            </ul>
          </div>
        </footer>
      </div>
    </body>
</html>
